*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: VT323;
}

.title{
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: #000000;
}
body{
    background-color: #212121;
}
.container{
    margin: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 720px;
}
.firstcol,.thirdcol{
    width: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.secondcol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 720px;
}

.grid-holder{
    background-color: rgb(221, 221, 221);
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 602px;
    border: 1px solid black;
}

.pixel{
    border: 1px solid #ccc;
}

.button-holder{
    margin: 10px;
    display: flex;
    gap: 20px;
    font-family: VT323;
    font-size: 30px;
    justify-content: center;
    align-items: center;

}
input[type="range"] {
    -webkit-appearance: none;
    width: 300px;
    height: 8px;
    background: linear-gradient(to right, rgb(113, 113, 113), rgb(127, 127, 127));
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(183, 180, 21);
    border: 2px solid black;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid black;
    border-radius: 50%;
}

button{
    background-color: rgb(15, 15, 15);
    border: 2px solid rgb(154, 154, 0);
    border-width: 2px 2px 0px 0px;
    
    width: 100px;
    height: 100px;
    
    border-radius: 50%;
    font-size: 28px;
    
}

button:hover{
    background-color: rgb(33, 33, 33);
    border: 2px solid rgb(154, 154, 0);
    border-width: 1px 1px 4px 4px;
}

button:active{
    background-color: rgb(55, 55, 55);
}

.active{
    box-shadow: -2px 0px 20px yellow;
}

.footer{
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}